.contenedor{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    background-color: #ffffff;
    box-shadow: 
        5px 5px 15px rgba(0, 0, 0, 0.2), 
        -5px -5px 15px rgba(0, 0, 0, 0.2);
    padding: 1em;
    max-width: 80vw;
    margin: auto;
    overflow: hidden; /* Evita que el contenido sobresalga */
}

.title {
    text-align: center;
    margin: 24px;
    font-size: 24px;
    color: #3498db;
    font-weight: bold;
    word-wrap: break-word; /* Asegura que las palabras largas se ajusten al ancho */
}

.description {
    text-align: center;
    margin: 24px;
    font-size: 18px;
    color: #333;
    word-wrap: break-word; /* Asegura que las palabras largas se ajusten al ancho */
}

.editor {
    width: 100%;
    box-sizing: border-box;
    padding: 16px;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 
        inset 2px 2px 5px rgba(0, 0, 0, 0.1), 
        inset -2px -2px 5px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: auto; /* Permite el scroll si el contenido es demasiado grande */
    word-wrap: break-word; /* Asegura que las palabras largas se ajusten al ancho */
}

/* Estilos responsivos */
@media (max-width: 768px) {
    .contenedor {
        max-width: 90vw;
        padding: 1em;
    }

    .title {
        font-size: 20px;
        margin: 16px;
    }

    .description {
        font-size: 16px;
        margin: 16px;
    }

    .editor {
        padding: 12px;
    }
}

@media (max-width: 480px) {
    .contenedor {
        max-width: 100vw;
        padding: 0.5em;
    }

    .title {
        font-size: 18px;
        margin: 12px;
    }

    .description {
        font-size: 14px;
        margin: 12px;
    }

    .editor {
        padding: 8px;
    }
}
