/* Estilo del sidebar */
aside.sidebar-menu {
    background-color: rgba(94, 76, 175, 0.8);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* Sombra suave */
    height: 100%;
}

/* Estilo de la lista dentro del sidebar */
aside.sidebar-menu > ul {
    list-style: none; /* Eliminar viñetas */
    margin: 0;
    padding: 20px 0; /* Espaciado interno */
}

/* Estilo de cada elemento de la lista */
aside.sidebar-menu > ul > li {
    margin-bottom: 10px; /* Espaciado entre elementos */
}

/* Estilo del enlace/botón dentro del elemento de la lista */
aside.sidebar-menu > ul > li > button {
    display: block;
    width: 100%;
    padding: 12px 20px; /* Espaciado interno */
    background-color: #6573c3; /* Color de fondo */
    color: white; /* Color del texto */
    text-align: left;
    border: none;
    border-radius: 4px; /* Bordes redondeados */
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease; /* Transición suave */
}

/* Estilo al pasar el cursor sobre el enlace/botón */
aside.sidebar-menu > ul > li > button:hover {
    background-color: #3949ab; /* Color de fondo al pasar el cursor */
}

/* Estilo cuando el enlace/botón está activo */
.active,
aside.sidebar-menu > ul > li > button.active {
    background-color: #283593; /* Color de fondo activo */
}