.user-table, .user-details-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.user-table th, .user-table td, .user-details-table th, .user-details-table td {
    border: 1px solid #ddd;
    padding: 8px;
}

.user-table th, .user-details-table th {
    background-color: var(--info-color);
    color: white;
}

.user-table tr:nth-child(even), .user-details-table tr:nth-child(even) {
    background-color: #f2f2f2;
}

.user-table tr:hover, .user-details-table tr:hover {
    background-color: #ddd;
}

.user-table th, .user-details-table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
}