
.container {
    height: 70vh;
    display: flex;
    flex-direction: row;
    gap: 2rem;
    justify-content: space-evenly;
}

.card {
    width: 30%;
    display: flex;
    justify-content: space-around;
    padding: 15px;
    border-radius: 15px;
    flex-direction: column;
}

.container-img {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 35vh;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.419);
    box-shadow: 0 0 20px rgba(138, 12, 188, 0.781),
    0 0 40px rgba(0, 0, 0, 0.482),
    0 0 60px rgba(106, 145, 7, 0.655),
    0px 0px 90px rgba(138, 12, 188, 0.781) inset,
    0 0 40px rgba(0, 0, 0, 0.482) inset,
    0 0 60px rgba(106, 145, 7, 0.655) inset,
    0 0 80px rgb(74, 15, 212);
}

.img {
    transition: transform 0.5s ease-in-out;
    cursor: pointer;
}

.img:hover {
    -webkit-transform: scale(1.3);
    -ms-transform: scale(1.3);
    transform: scale(1.9);
}

.background {
    position: absolute;
    margin: auto;
    z-index: 3;
    height: 85vh;
    width: 70vw;
    display: none;
}

.list {
    background-color: #fff;
    position: absolute;
    z-index: 2;
    height: 85%;
    width: 100%;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}