
.container {
    height: 70vh;
    display: flex;
    flex-direction: row;
    gap: 2rem;
    justify-content: space-evenly;
}

.card {
    width: 30%;
    display: flex;
    justify-content: space-around;
    padding: 15px;
    border: solid black 2px;
    border-radius: 15px;
    flex-direction: column;
}

.container-img {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: green;
    height: 50%;
    border-radius: 50%;
    box-shadow: 0 0 60px 5px green;
}